<h1>{{ong.name}}</h1>
<div class="row g-2">
  <div class="col-md">
    <div class="container" align="right">
      <div *ngIf="ong.video_url != ''; else elseBlock">
        <youtube-player [videoId]="videoId" [height]="225" [width]="450"> </youtube-player>
      </div>
      <ng-template #elseBlock>
        <img class="img-photo"
          [src]="ong && ong.photos.length > 0 ? ong.photos[0][1] : '/assets/default/default.jpeg'">
      </ng-template>
    </div>
    <div class="container" align="right">
      <div class="img-wrap mr-2" *ngFor="let photo of ong.photos; index as i">
        <img class="img-photo" [src]="photo[1]">
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="container" align="center">
      <button type="button" class="btn btn-facebook btn-icon" (click)="goToLink(ong.facebook)"
        *ngIf="ong.facebook != ''">
        <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
        <span class="btn-inner--text">Facebook</span>
      </button>
      <button type="button" class="btn btn-twitter btn-icon" (click)="goToLink(ong.twitter)" *ngIf="ong.twitter != ''">
        <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
        <span class="btn-inner--text">Twitter</span>
      </button>
      <button type="button" class="btn btn-instagram btn-icon" (click)="goToLink(ong.instagram)"
        *ngIf="ong.instagram != ''">
        <span class="btn-inner--icon"><i class="fab fa-instagram"></i></span>
        <span class="btn-inner--text">Instagram</span>
      </button>
    </div>
  </div>
</div>

<ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane"
      type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">Descripción</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="fixedcosts-tab" data-bs-toggle="tab" data-bs-target="#fixedcosts-tab-pane"
      type="button" role="tab" aria-controls="fixedcosts-tab-pane" aria-selected="false">Costos Fijos</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="donations-tab" data-bs-toggle="tab" data-bs-target="#donations-tab-pane" type="button"
      role="tab" aria-controls="donations-tab-pane" aria-selected="false">Donaciones</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="news-tab" data-bs-toggle="tab" data-bs-target="#news-tab-pane" type="button"
      role="tab" aria-controls="news-tab-pane" aria-selected="false">Noticias</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
      role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content accordion" id="myTabContent">
  <div class="tab-pane fade show active accordion-item" id="description-tab-pane" role="tabpanel"
    aria-labelledby="description-tab" tabindex="0">

    <h2 class="accordion-header d-lg-none" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">Accordion Item #1</button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show  d-lg-block" aria-labelledby="headingOne"
      data-bs-parent="#myTabContent">
      <div class="accordion-body">
        {{ong.description}}
      </div>
    </div>

  </div>
  <div class="tab-pane fade accordion-item" id="fixedcosts-tab-pane" role="tabpanel" aria-labelledby="fixedcosts-tab"
    tabindex="0">
    <h2 class="accordion-header d-lg-none" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo"
      data-bs-parent="#myTabContent">
      <div class="accordion-body">
        <div *ngIf="fixedcost_list.length != 0; else elseFixedCostBlock">
          <table width="100%">
            <thead>
              <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Progreso</th>
                <th>Donar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fixedcost of fixedcost_list">
                <th>{{ fixedcost.title }}</th>
                <td>{{ fixedcost.description }}</td>
                <td>{{ fixedcost.mount | currency: 'USD' }}</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                      [ngStyle]="{'width.%': fixedcost.raised * 100 / fixedcost.mount}" aria-valuenow="75"
                      aria-valuemin="0" aria-valuemax="100">{{fixedcost.raised * 100 / fixedcost.mount}}%</div>
                  </div>
                </td>
                <td>
                  <div class="input-group mb-1">
                    <input type="number" id="donate-input" class="form-control" placeholder="Monto a donar" aria-label="Monto a donar" aria-describedby="donate-button" #amount>
                    <ng-template #content let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Confirmar Donación</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                      </div>
                      <div class="modal-body">
                        <p>Usted donará ${{ amount.value }} para colaborar con {{ fixedcost.title }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancelar</button>
                        <div id="checkout" class="cho-container"></div>
                      </div>
                    </ng-template>
                    <button class="btn btn-lg btn-outline-primary" (click)="open(content, fixedcost, amount.value)">Donar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #elseFixedCostBlock>
          <h2>No existen costos fijos.</h2>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="tab-pane fade accordion-item" id="donations-tab-pane" role="tabpanel" aria-labelledby="donations-tab"
    tabindex="0">
    <h2 class="accordion-header d-lg-none" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo"
      data-bs-parent="#myTabContent">
      <div class="accordion-body">
        <div *ngIf="itemDonation_list.length != 0; else elseItemDonationBlock">
          <table width="100%">
            <thead>
              <tr>
                <th>#ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Progreso</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemDonation_list">
                <th>{{ item.id }}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.mount }}</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': item.raised * 100 / item.mount}"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{item.raised * 100 / item.mount}}%</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #elseItemDonationBlock>
          <h2>No existen pedidos de donación.</h2>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="tab-pane fade accordion-item" id="news-tab-pane" role="tabpanel" aria-labelledby="news-tab"
    tabindex="0">
    <h2 class="accordion-header d-lg-none" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo"
      data-bs-parent="#myTabContent">
      <div class="accordion-body">
        <div class="card mb-3" style="max-width: 540px;" *ngFor="let obj of metadata_list">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="obj?.image_url" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" role="button" (click)="goToLink(obj?.canonical_url)">{{obj?.title}}</h5>
                <p class="card-text">{{obj?.description}}</p>
                <p class="card-text"><small class="text-muted">Cargado en fecha {{obj?.dbCreated_at | date: 'dd/MM/yyyy'}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade accordion-item" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
    tabindex="0">
    <h2 class="accordion-header d-lg-none" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingThree"
      data-bs-parent="#myTabContent">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
        plugin adds the appropriate classes that we use to style each element. These classes control the overall
        appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
        custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
        within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
