.font1{
  color: #000;
  font-family: "Roboto", sans-serif;
}

.c1{
  background-color: #EBF5FB;
  border: none;
}

.c2{
  background-color: #D6EAF8;
  border: none;
}

.c3{
  background-color: #AED6F1;
  border: none;
}

.c4{
  background-color: #85C1E9;
  border: none;
}

.formtittle2{
  text-align: center;
  font-weight: 700;
}

.btn1{
  float: right;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}
