<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-10 col-xl-8 card p-4 mx-2 my-4 shadow">
      <h1 class="">Datos de la Organizacion</h1>
      <form (ngSubmit)="onSubmit(ongForm)" #ongForm="ngForm">
        <div class="form-floating mt-4">
          <input type="text" class="form-control" id="Nombre" placeholder="Nombre" required [(ngModel)]="model.name" name="name" #name="ngModel">
          <label class="form-label" for="floatingInput">Nombre</label>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div><!-- Nombre -->

        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating mt-4">
              <input type="text" class="form-control" id="Email" placeholder="name@example.com" required [(ngModel)]="model.email" name="email"
                #email="ngModel">
              <label for="floatingEmail">Email</label>
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
              </div>
            </div><!-- Email -->
            
          </div>
          <div class="col-md">
            <div class="form-floating mt-4">
              <input type="text" class="form-control" id="Phone" placeholder="Telefono" required [(ngModel)]="model.phone" name="phone"
                #phone="ngModel">
              <label for="floatingPhone">Telefono</label>
              <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                Phone is required
              </div>
            </div><!-- Telefono -->
          </div>
        </div>

        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating mt-4">
              <select class="form-control" id="category" placeholder="Categoria" required [(ngModel)]="model.category_id" name="category"
                #category="ngModel">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>
              <label for="category">Categoria</label>
              <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
                Category is required
              </div>
            </div><!-- Categoria -->
          </div>
          <div class="col-md">
            <div class="form-floating mt-4">
              <select class="form-control" id="city" required [(ngModel)]="model.city_id" name="city" #city="ngModel">
                <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
              </select>
              <label for="category">Ciudad</label>
              <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                City is required
              </div>
            </div><!-- Ciudad -->
          </div>
        </div>

        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating mt-4">
              <input type="text" class="form-control" id="facebook" placeholder="Facebook" required [(ngModel)]="model.facebook" name="facebook"
                #facebook="ngModel">
              <label for="floatingFacebook">Facebook</label>
            </div><!-- Facebook -->
          </div>
          <div class="col-md">
            <div class="form-floating mt-4">
              <input type="text" class="form-control" id="instagram" placeholder="Instagram" required [(ngModel)]="model.instagram" name="instagram"
                #instagram="ngModel">
              <label for="instagram">Instagram</label>
            </div><!-- Instagram -->
          </div>
        </div>

        <div class="form-floating mt-4">
          <input type="text" class="form-control" id="twitter" placeholder="Twitter" required [(ngModel)]="model.twitter" name="twitter"
            #twitter="ngModel">
          <label for="twitter">Twitter</label>
        </div><!-- Twitter -->

        <div class="form-floating mt-4">
          <input type="text" class="form-control" id="video_url" placeholder="Telefono" [(ngModel)]="model.video_url" name="video_url">
          <label for="video_url">Video URL</label>
        </div><!-- Video URL -->

        <div class="form-floating mt-4">
          <textarea [(ngModel)]='model.description' class="form-control" rows="3" placeholder="Descripcion" style="height: 100px" name="description">
          </textarea>
          <label for="description" class="form-label">Descripcion</label>
        </div><!-- Descripcion -->

        <div class="form-floating mt-4">
          <textarea [(ngModel)]='model.tags' class="form-control" rows="3" placeholder="Tags" style="height: 100px" name="tags">
                  </textarea>
          <label for="tags" class="form-label">Tags</label>
        </div><!-- Tags -->


        <div class="form-group mt-4">
          <button type="submit" class="btn btn-success" [disabled]="!ongForm.form.valid">Submit</button>
          <button type="button" class="btn btn-default" (click)="newOng(); ongForm.reset()">New Ong</button>
          <i>with</i> reset 
        </div><!-- botones -->
      </form>
    </div>
  </div>
</div>
