<div class="container" style="margin-top: 100px;">
  <div *ngIf="contribution_list.length != 0; else elseBlock">
    <div class="card-header">
      <div class="mb-0 card-title h5 text-center">Tabla de donaciones realizadas</div>
    </div>
    <table class="table">
      <thead>
        <tr class="border-table font-table">
          <th scope="col">Fecha</th>
          <th scope="col">Entidad</th>
          <th scope="col">Descripción</th>
          <th scope="col">Monto solicitado</th>
          <th scope="col">Monto donado</th>
          <th scope="col">Estado</th>
          <th scope="col">Código</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of contribution_list">
          <td>{{ c.created_at | date: 'dd/MM/yyyy' }}</td>
          <td>{{ c.entity_name }}</td>
          <td>{{ c.item_donation.description }}</td>
          <td>{{ c.item_donation.mount }}</td>
          <td>{{ c.mount }}</td>
          <td>{{ c.status }}</td>
          <td>{{ c.code }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #elseBlock>
    <p>Usted no ha realizado contribuciones aún.</p>
  </ng-template>
</div>
