<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="tokenService.currentUserData == undefined">
          <button type="button" (click)="login()" class="menu-boton btn btn-link">Login with Google <i class="arrow"></i></button>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ong">Nueva Ong</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/campaign">Nueva Campaña</a>
        </li>
        <div class="dropdown" *ngIf="tokenService.currentUserData != undefined">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{tokenService.currentUserData.name}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li class="dropdown-submenu">
              <span class="dropdown-item fw-bold ml-2">ONGs</span>
              <ul class="dropdown-submenu">
                <li *ngFor="let ong of ong_list">
                  <a class="dropdown-item" href="#" routerLink="/ong-dashboard" (click)="reloadOngSidebar(ong)">{{ong.name}}</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <span class="dropdown-item fw-bold ml-2">Campañas</span>
              <ul class="dropdown-submenu">
                <li *ngFor="let campaign of campaign_list">
                  <a class="dropdown-item" href="#" routerLink="/campaign-dashboard" (click)="reloadOngSidebar(campaign)">{{campaign.name}}</a>
                </li>
              </ul>
            </li>
            <li *ngIf="tokenService.currentUserData != undefined"><a class="dropdown-item" (click)="logout()"
                href="#">Cerrar Sesión</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
