@import 'src/styles.scss';
.navbar {
    background: #fff;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0.875rem;
    padding-right: 1.25rem;
    padding-bottom: 0.875rem;
    padding-left: 1.25rem;
}

.bor {
    border: none;
}

.text {
    text-decoration: none;
    color: $primary-dark;
}
