@import 'src/styles.scss';
.nav-bg {
    background: #fff;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0.875rem;
    padding-right: 1.25rem;
    padding-bottom: 0.875rem;
    padding-left: 1.25rem;
}

.bor {
    border: none;
}

.text {
    text-decoration: none;
    color: $primary-dark;
}

.format {
    height: calc(2.24375rem + 2px);
    background: #f3f6fb;
    box-shadow: none;
    border: 0;
    padding: 0.35rem 0.75rem;
    align-items: stretch;
}
