<nav class="navbar navbar-expand-lg navbar-light nav-bg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">
      <i class="fas fa-home-lg-alt"></i>
    </a>
    <button class="navbar-toggler bor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="far fa-cog"></i>
    </button>
    <form inline="true" class="d-sm-inline-block">
      <div class="nav-item">
        <input id="typeahead-basic" type="text" class="form-control format" placeholder="Buscar ONG"
          [(ngModel)]="entitySelected" [ngbTypeahead]="search" [inputFormatter]="formatter" name="entitySelected"
          [resultFormatter]="formatter" (selectItem)="redirect($event)" />
        <small *ngIf="isSearching" class="form-text text-muted">buscando...</small>
        <div class="invalid-feedback" *ngIf="isFailedSearch">Sorry, suggestions could not be loaded.</div>
      </div>
    </form>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="tokenService.currentUserData == undefined">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
            alt="" style="width:25px;height:25px;">
          <button type="button" (click)="login()" class="menu-boton btn btn-link text">Ingresá con Google <i
              class="arrow"></i></button>
        </li>
        <li class="nav-item" *ngIf="tokenService.currentUserData != undefined">
          <a class="nav-link" routerLink="/ong-form">Nueva Ong</a>
        </li>
        <li class="nav-item" *ngIf="tokenService.currentUserData != undefined">
          <a class="nav-link" routerLink="/campaign-form">Nueva Campaña</a>
        </li>
        <div class="nav-item dropdown" *ngIf="tokenService.currentUserData != undefined">
          <a id="user-menu" class="nav-link dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar img-fluid rounded-circle me-1" [src]="user?.image" alt="">
            <span class="text-dark">{{tokenService.currentUserData.name}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" drop="end" aria-labelledby="user-menu" data-bs-popper="static">
            <li class="dropdown-submenu" *ngIf="user?.role === 'ong_owner' || user?.role === 'multi_owner'">
              <span class="dropdown-item fw-bold ml-2">ONGs</span>
              <ul class="dropdown-submenu no-bullets">
                <li *ngFor="let ong of ong_list">
                  <a class="dropdown-item" role="button" (click)="reloadSidebarOng(ong)">{{ong.name}}</a>
                </li>
              </ul>
            </li>
            <hr class="dropdown-divider" role="separator">
            <li class="dropdown-submenu" *ngIf="user?.role === 'campaign_owner' || user?.role === 'multi_owner'">
              <span class="dropdown-item fw-bold ml-2">Campañas</span>
              <ul class="dropdown-submenu no-bullets">
                <li *ngFor="let campaign of campaign_list">
                  <a class="dropdown-item" role="button" (click)="reloadSidebarCampaign(campaign)">{{campaign.name}}</a>
                </li>
              </ul>
            </li>
            <hr class="dropdown-divider" role="separator">
            <li><a class="dropdown-item" routerLink="/my-donations">Mis donaciones</a></li>
            <li><a class="dropdown-item" (click)="logout()" href="#">Cerrar Sesión</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
