body{
    background: #eee;
  }

  .side_nav{
    background: #000;
  }
  .content{
    min-height: 100vh;
    width: 100%;
  }
  hr.h-color{
    background: #eee;
  }
  .sidebar li.active{
    background: #eee;
    border-radius: 8px;
  }
  .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
  }
  .sidebar li a{
    color: #fff;
  }
  @media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
  }
  /* .nav-toggler{
    color: #eee;
    background: none;
    border: none;

  } */
  .dash[aria-expanded="true"] {display: none;}
  .item-hover:hover {
    background-color: rgb(0, 255, 247);
    color:#000 !important;
  }

