<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Formulario de solicitud</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
        <p>Aqui va el Form</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Solicitar una donación</button>

<hr />

<pre>{{ closeResult }}</pre>

<div class="container">
  <p align="center">campaign-donations works!</p>
  <p>{{displayItemDonations()}}</p>
</div>
