@import 'src/styles.scss';

.content {
  padding: 2.5rem 2.5rem 1.5rem;
  flex: 1;
  direction: ltr;
}

.card-header{
  background-color: #ffffff;
  padding: 1rem 1.25rem;
}

.i-clic{
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
