<ng-template #createFixedCost let-modal>
  <div class="modal-header font2 text-center">
    <h4 class="modal-title" id="modal-basic-title">Formulario de Costo fijo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body font2">
    <form (ngSubmit)="onSubmit(fixedcostForm)" #fixedcostForm="ngForm">
      <label for="floatingInput" class="form-label">Título</label>
      <input type="text" class="form-control form-control-sm" id="title" placeholder="Titulo" required
        [(ngModel)]="fixedcost.title" name="title" #title="ngModel">
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        Title is required
      </div><!-- Title -->

      <label class="description" class="form-label">Descripción</label>
      <input type="text" class="form-control form-control-sm" id="description" placeholder="Description" required
        [(ngModel)]="fixedcost.description" name="description" #description="ngModel">
      <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
        Name is required
      </div><!-- Description -->

      <label class="form-label" for="mount">Monto</label>
      <input type="text" class="form-control form-control-sm" id="mount" placeholder="Monto" required
        [(ngModel)]="fixedcost.mount" name="mount" #mount="ngModel">
      <div [hidden]="mount.valid || mount.pristine" class="alert alert-danger">
        Mount is required
      </div><!-- Mount -->

      <div class="row g-2">
        <div class="col-md">
          <label for="month" class="form-label">Mes</label>
          <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="fixedcost.period.month"
            name="month" #month="ngModel">
            <option selected disabled>Seleccione mes</option>
            <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
          </select>
        </div>
        <div class="col-md">
          <label for="year" class="form-label">Año</label>
          <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="fixedcost.period.year"
            name="year" #year="ngModel">
            <option selected disabled>Seleccione año</option>
            <option *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
      </div><!-- Period -->

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!fixedcostForm.form.valid"
          (click)="modal.close('Save click')">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editFixedCost let-modal>
  <div class="modal-header font2">
    <h4 class="modal-title" id="modal-basic-title">Editar Costo fijo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body font2">
    <form (ngSubmit)="updateFixedCost()" #fixedcostForm="ngForm">
      <label class="form-label" for="floatingInput">Título</label>
      <input type="text" class="form-control form-control-sm" id="title" placeholder="Titulo" required
        [(ngModel)]="fixedcost.title" name="title" #title="ngModel">
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        Title is required
      </div><!-- Title -->

      <label class="form-label" for="floatingInput">Descripción</label>
      <textarea [(ngModel)]='fixedcost.description' class="form-control form-control-sm" rows="3"
        placeholder="Descripcion" style="height: 100px" name="description">
        </textarea><!-- Description -->

      <label class="form-label" for="floatingInput">Monto</label>
      <input type="text" class="form-control form-control-sm" id="mount" placeholder="Monto" required
        [(ngModel)]="fixedcost.mount" name="mount" #mount="ngModel">
      <div [hidden]="mount.valid || mount.pristine" class="alert alert-danger">
        Mount is required
      </div><!-- Mount -->

      <div class="row g-2">
        <div class="col-md">
          <label for="month" class="form-label">Mes</label>
          <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="fixedcost.period.month"
            name="month" #month="ngModel">
            <option selected disabled>Seleccione mes</option>
            <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
          </select>
        </div>
        <div class="col-md">
          <label for="year" class="form-label">Año</label>
          <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="fixedcost.period.year"
            name="year" #year="ngModel">
            <option selected disabled>Seleccione año</option>
            <option *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
      </div><!-- Period -->

      <div class="text-center mt-3 font2">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!fixedcostForm.form.valid"
          (click)="modal.close('Save click')">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>

<div class="border-0 mt-4 font2">
  <pre>{{ closeResult }}</pre>
  <div class="row col-12 col-sm-10 col-md-10 col-lg-8 offset-3">
    <div class="flex-fill w-100 border-0">
      <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-primary btn-sm" type="button" (click)="open(createFixedCost)">Agregar
          costo fijo</button>
      </div>
      <div class="card-header">
        <div class="mb-0 card-title h5 text-center">Tabla de Costos Fijos</div>
      </div>
      <table class="table">
        <thead>
          <tr class="border-table font-table">
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Monto</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fc of fixedcost_list">
            <td class="w-25 ps-2">{{ fc.getTitle() }}</td>
            <td class="w-35 ps-2">{{ fc.getDescription() }}</td>
            <td class="w-15">{{ fc.mount | currency: 'USD' }}</td>
            <td class="w-15">
              <i class="fas fa-edit i-clic" (click)="setFixedCost(fc); open(editFixedCost)" *ngIf="fc.editable"> </i>
              <i class="fa-regular fa-trash-can i-clic" (click)="deleteFixedCost(fc)" *ngIf="fc.editable"> </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
