<div class="container-fluid h-100" style="margin-top: 65px;">
  <button #btn class="d-block d-sm-none btn nav-toggler menu-dash" type="button" (click)="show()">
    <i class="fas fa-stream me-1"></i>
    <span>Menu</span>
  </button>
  <div class="row h-100">
    <div #dash class="col-sm-3 d-none d-sm-block bg-info side-nav">
      <div class="sidebar mb-5">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
          <h1 class="fs-4">
            <span class="bg-white text-dark rounded shadow px-2 me-2" [routerLink]="['/campaign-dashboard', {outlets: {campaign: ['info']}}]">{{campaignSelected.name}}</span>
          </h1>
        </div>
        <ul class="navbar-nav scroll">
          <ul class="list-unstyled px-2">
            <li class="nav-item">
              <a href="#" class="dashboard-link px-3 py-4 d-block" (click)="hideMenu()"
                [routerLink]="['editar']" routerLinkActive="active">
                <i class="fas fa-edit"></i> Editar
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="dashboard-link px-3 py-4 d-block" (click)="hideMenu()"
                [routerLink]="['costos-fijos']" routerLinkActive="active">
                <i class="fas fa-sack-dollar"></i> Costos fijos
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="dashboard-link px-3 py-4 d-block" (click)="hideMenu()"
                [routerLink]="['solicitar-donaciones']" routerLinkActive="active">
                <i class="fa solid fa-hand-holding-dollar"></i> Solicitar donaciones
              </a>
            </li>
            <li class="nav-item">
              <a href="#" id="main-title" class="dashboard-link  px-3 py-4 d-block" (click)="hideMenu()"
              [routerLink]="['ver-donaciones']" routerLinkActive="active">
                <i class="far fa-box-usd"></i> Ver donaciones
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="dashboard-link  px-3 py-4 d-block " routerLinkActive="active">
                <i class="fas fa-hands-heart"></i> Voluntarios
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="dashboard-link px-3 py-4 d-block " (click)="hideMenu()"
                [routerLink]="['estadisticas']" routerLinkActive="active">
                <i class="fas fa-wave-triangle"></i> Estadisticas
              </a>
            </li>
            <li class="nav-item">
              <app-link-loader></app-link-loader>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
