@import '~bootstrap/scss/bootstrap-utilities';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-dark: #1659c7;
$primary-light: #84aef2;
$dash-bg: #293042;
$app-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$col: #F7F9FC;

.f1{
  background-color: $col;
  font-family: $app-font;
}
