.custom-card {
  margin-bottom: 24px;
  box-shadow: 0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0.25rem;
}

.card-header {
  padding: 1rem 1.25rem;
  padding-top: 1rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid transparent;
  border-bottom-width: 0px;
  
  font-family: "Poppins";
  font-size: 0.825rem;
  font-weight: 400;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.main-card-title {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 500;
  color: #495057;
}

.card-title {
  font-family: "Poppins";
  font-size: 0.95rem;
  font-weight: 500;
  color: #495057;
}

.main-card-body {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  color: #6c757d;
}

.card-body {
  font-family: "Poppins";
  font-size: 0.825rem;
  font-weight: 400;
  color: #6c757d;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.badge {
  display: inline-block;
  padding: 0.3em 0.45em;
  font-size: 80%;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.2rem;
}

.bg-warning {
  --bs-bg-opacity: 1;
  --bs-warning-rgb: 229, 165, 75;
}
